<%= form_for [:admin, @airline] do |f| %>
  <div class="form-group row my-auto">
    <%= f.label :logo, class: 'col-sm-2 col-form-label pt-3' %>

    <div class="col-sm-5">
      <% if @airline.logo.attached? && @airline.persisted? %>
        <%= image_tag @airline.logo.variant(resize_to_limit: [260, 40]) %>
      <% else %>
        <div class="text-muted mt-3">No image</div>
      <% end %>
    </div>

    <div class="col-sm-5 pt-3">
      <%= f.file_field :logo, class: "form-control-file" %>

      <small id="logoHelp" class="form-text text-muted">
        JPEG or PNG only. Max 1MB.
      </small>

      <div class="invalid-feedback">-->
        <%= @airline.errors[:logo].join(", ") %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <%- if @airline.logo.attached? && @airline.persisted? %>
        <%= f.check_box :remove_logo, default: false %>
        <%= f.label :remove_logo %>
      <%- end %>
    </div>
  </div>

  <div class="form-row mt-2">
    <div class="col">
      <%= f.label :icao, class: "text-uppercase" %>
      <%= f.text_field :icao, class: "form-control text-uppercase", maxlength: 3, autofocus: true, required: true %>

      <div class="invalid-feedback">
        ICAO <%= @airline.errors[:icao].join(", ") %>
      </div>
    </div>
    <div class="col">
      <%= f.label :iata, class: "text-uppercase" %>
      <%= f.text_field :iata, class: "form-control text-uppercase", maxlength: 2 %>

      <div class="invalid-feedback">
        IATA <%= @airline.errors[:iata].join(", ") %>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", required: true %>

      <div class="invalid-feedback">
        Name <%= @airline.errors[:name].join(", ") %>
      </div>
    </div>
  </div>

  <%- if @airline.errors[:base].present? %>
  <div class="row mt-4 field_with_errors">
    <div class="ml-4 text-danger">
      <%= @airline.errors[:base].join(", ") %>
    </div>
  </div>
  <% end %>

  <%= f.submit "Save", class: "btn btn-success mt-4 w-100" %>
<% end %>