= content_for :section, 'Airline Administration'

= content_for :card_header do
  .col-8.pt-1
    %h5= 'Edit Airlines'
  .col-4.text-right
    = link_to admin_airline_path(@airline), method: :delete, class: 'btn btn-sm btn-danger', 'data-confirm': "Are you sure?" do
      %i.fas.fa-trash
      Delete

= render 'admin/layout' do
  .p-4
    = render partial: 'form'
