= content_for :section, 'Simulator Administration'

= content_for :card_header do
  %h5.pt-2= :Simulators

= render 'admin/layout' do
  %table.table.table-bordered.text-center.p-0.mb-0
    %thead.thead-dark
      %th{scope: 'col'}= sort_link @q, :short_name
      %th{scope: 'col'}= sort_link @q, :name
      %th{scope: 'col'}
        = link_to new_admin_simulator_path, class: 'btn btn-sm btn-success' do
          %i.fas.fa-plus
          Add

    %tbody
      - if @simulators.empty?
        %tr
          %td.text-muted{colspan: 20}= :None
      - @simulators.each do |simulator|
        %tr
          %td.align-middle= simulator.short_name
          %td.align-middle= simulator.name
          %td.align-middle
            - if policy(simulator).edit? || policy(simulator).destroy?
              = link_to edit_admin_simulator_path(simulator), class: 'btn btn-sm btn-outline-secondary' do
                %i.fas.fa-edit
                Edit

  .row.justify-content-center.mt-3
    = paginate @simulators
