= content_for :section, 'Policies'

.container.pb-4
  %h1.mt-0= 'Privacy Policy'

  %p
    Lonestar Virtual ("Lonestar Cargo" (AKA)) offers this Web site for the
    entertainment of its users for use in flight simulation purposes only.
    When you use our service we collect limited information, collect statistics
    and analyze trends in order to provide services to you and help direct
    future enhancements.

  %p
    Please use the links below to read specifics about our policy:

  %ul
    %li= link_to 'Information We Collect', '#collect'
    %li= link_to 'Information Usage', '#usage'
    %li= link_to 'Who We Share Information With', '#sharing'
    %li= link_to 'Cookie Usage', '#cookies'
    %li= link_to 'Opt Out', '#optout'

  %a{name: 'collect'}
  %h5= 'Information We Collect'
  %p
    %ul
      %li
        %h6
          %b= 'Information you give us.'
        When you register an account with this site, login, or utilize software
        that interacts with the site, information that is generally considered
        personal is given to us from you to include, but is not limited to:
        your email address, and first and last name.
      %li.mt-2
        %h6
          %b= 'Information we get from you.'
        Some information is sent by your computer or electronic device, web
        browser, and other software clients. Information can include: your IP
        address, web browser type and version, device specific information (such
        as operating system, unique device identifiers and mobile network
        information). This information may be linked to your account.
      %li.mt-2
        %h6
          %b= 'Logged information.'
        Each time you perform an action that interacts with our site, your action
        may be logged. Information logged can include: type of action, data
        being sent and received, IP address, software used, identification
        cookies, and the results of each request.
      %li.mt-2
        %h6
          %b= 'Location information.'
        Your location information may be associated with each request through
        geolocation of your IP address or other information given to us by you.
      %li.mt-2
        %h6
          %b= 'Analytical information.'
        We use Google Analytics to analyze trends about how this site is used
        in order to make future enhancements. This tool may collect anonymized
        information including: age, gender, location, device information, web
        browser type and version, Internet Service Provider (ISP), mobile network
        provider information, etc.
      %li.mt-2
        %h6
          %b= 'Storage Location.'
        Data contained or submitted through this site is stored on services owned
        or leased by Lonestar Virtual within the United States.

  %a{name: 'usage'}
  %h5= 'Information Usage'
  %p
    We use the information collected to provide, maintain, protect and improve
    services offered to our members. Information collected is maintained with
    confidentiality.
  %p
    The following information may be shared on publicly facing pages of our site:
    %ul
      %li
        Your Pilot ID number (a unique membership number)
      %li
        Your first and last name
      %li
        Current membership status
      %li
        History of participation in member activities
      %li
        Current state and location within a running simulation or game
      %li
        Achievements and ratings
  %p
    The following information is collected and may abe used to protect our services,
    up to and including lawful requests for information from Law Enforcement
    agencies:
    %ul
      %li
        Any of the previously listed information
      %li
        Your email address
      %li
        All IP addresses used and associated with your account
      %li
        Geolocation against any provided IP address information
      %li
        All activities performed within our services
  %p
    We may also store identification and other limited information on your
    electronic device through web storage or cookie usage for the purposes of
    supporting activities directly related to this site.

  %a{name: 'sharing'}
  %h5= 'Who We Share Information With'
  %p
    The information we collect may be shared, in limited capacities, with the
    following:
    %ul
      %li
        Law Enforcement agencies
      %li
        Google Analytics
  %p
    For more information on what information may be shared, please refer to
    = link_to 'Information Usage', '#usage'

  %a{name: 'cookies'}
  %h5= 'Cookie Usage'
  %p
    We use various technologies to collect and store information when you visit
    and use our site and services. This may include a cookie or other similar
    technologies to identify your browser or device. We also use Google Analytics
    to analyze how you use our website. This information bay be linked, by Google,
    with customers for information across multiple websites.
  %p
    We use cookies mainly as a mechanism of tracking your authentication status
    with our site. This allows us to know who is requesting and using our services,
    and provide authorization checks to restricted areas.
  %p
    You may choose to disable cookie usage via your browser, however doing so
    may prevent access to certain areas and severely degrade your experience.

  %a{name: 'optout'}
  %h5= 'Opt Out'
  %p
    Due to the nature in which we offer services, it is not possible to opt out
    of this data collection if you use our services. If you desire to opt out
    and longer wish to have your data on our service, we will purge all information
    we have collected upon written request.
  %p
    If you have an account, please see your profile for more information. If you
    no longer have access to your account, please use the contact feature of
    this website to connect with us about processing your request.
