.carousel.slide#home-carousel{'data-ride': :carousel}
  .overlay
  %ol.carousel-indicators
    %li.active{'data-target': '#home-carousel', 'data-slide-to': 0}
    %li{'data-target': '#home-carousel', 'data-slide-to': 1}
    %li{'data-target': '#home-carousel', 'data-slide-to': 2}

  .carousel-inner
    .carousel-item.active= image_tag 'header1.png', class: 'carousel-image'

    - if @announcement.present?
      #home-announcement.card{role: 'announcement'}
        .card-body
          %h5.card-title= @announcement.title
          %p
            = @announcement.body

.card.bg-dark.text-light#home-card
  .card-body.container.mt-0
    .row
      .col-7.offset-1
        %h5.card-title.mb-0= 'Lonestar Cargo'
        %span.card-text.text-center
          Today's premier virtual airline.
      .col-4
        - if pilot_signed_in?
          %h5.pt-2= "Welcome #{current_pilot.full_name}!"
        - else
          = link_to 'Join today', new_pilot_registration_path, class: 'btn btn-warning btn-lg ml-2'


.container
  .row.mt-4.d-flex.justify-content-center
    .col-lg-8
      .row.mr-4.mr-lg-0
        .col-lg-6.home-box.d-flex.align-items-stretch
          .card.mb-4.box-shadow
            = image_tag 'box1.png', class: 'banner-img'
            .card-body
              %p.card-text
                Lonestar Cargo is a virtual cargo airline based at the San Antonio
                International Airport in San Antonio, Texas. Other international
                hubs include Europe, Asia, South America, and Australia.

        .col-lg-6.home-box.d-flex.align-items-stretch
          .card.mb-4.box-shadow
            = image_tag 'box3.png', class: 'banner-img'
            .card-body
              %p.card-text
                Lonestar Cargo has two ways to fly: Scheduled flights for those
                who want a set schedule and charter, for those interested
                in wherever, whenever operations.

      .row.mr-4.mr-lg-0
        .col-lg-6.home-box.d-flex.align-items-stretch
          .card.mb-4.box-shadow.w-100
            .card-header
              %b= 'Statistics'
            .card-body.p-0
              = render partial: 'statistics'

        .col-lg-6.home-box.d-flex.align-items-stretch
          .card.mb-4.box-shadow.w-100
            .card-header
              %b= 'Newest Pilots'
            .card-body.p-0
              = render partial: 'newest_pilots'

    - if Setting.discord_widget.present?
      .col-lg-4.row
        #home-discord.col-lg-12
          .card.mb-4.box-shadow
            %iframe{src: Setting.discord_widget}
