= content_for :section, 'News'

.container.pt-2.pb-4
  - @articles.each do |article|
    .row.mb-5
      .col.mx-auto
        = image_tag 'cowboy.png', class: 'blog_spot'
        %h2.d-inline-block= article.title
        %p
          %i
            Written By:
            = article.author
            - if article.edited? && article.author != article.editor
              %br
              Edited By:
              = article.editor
            %br
            = article.published_at
        = article.content