- if pilot_signed_in? && current_pilot.group.name == 'Admin'
  %li.nav-item.dropdown
    %a.nav-link.dropdown-toggle#navbarDropdown{href: '#', role: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      Admin

    .dropdown-menu.dropdown-menu-right{'aria-labelledby': 'navbarDropdown'}
      - if current_pilot.can? Airline, [:create, :update, :destroy]
        = link_to 'Airlines', admin_airlines_path, class: 'dropdown-item'

      - if current_pilot.can? Airport, [:create, :update, :destroy]
        = link_to 'Airports', admin_airports_path, class: 'dropdown-item'

      - if current_pilot.can? Equipment, [:create, :update, :destroy]
        = link_to 'Equipment Types', admin_equipment_index_path, class: 'dropdown-item'

      - if current_pilot.can? Fleet, [:create, :update, :destroy]
        = link_to 'Fleets', admin_fleets_path, class: 'dropdown-item'

      - if current_pilot.can? Flight, [:create, :update, :destroy]
        = link_to 'Flight Schedule', admin_flights_path, class: 'dropdown-item'

      - if current_pilot.can? Network, [:create, :update, :destroy]
        = link_to 'Networks', admin_networks_path, class: 'dropdown-item'

      - if current_pilot.can? Pirep, [:create, :update, :destroy]
        = link_to 'PIREPs', admin_pireps_path, class: 'dropdown-item'

      - if current_pilot.can? Simulator, [:create, :update, :destroy]
        = link_to 'Simulators', admin_simulators_path, class: 'dropdown-item'
