<% if pilot_signed_in? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Admin
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <% if current_pilot.can?(Airline, :create, :update, :destroy) %>
        <%= link_to 'Airlines', admin_airlines_path, class: "dropdown-item" %>
      <% end %>

      <% if current_pilot.can?(Airport, :create, :update, :destroy) %>
        <%= link_to 'Airports', admin_airports_path, class: "dropdown-item" %>
      <% end %>

      <% if current_pilot.can?(Equipment, :create, :update, :destroy) %>
        <%= link_to 'Equipment Types', admin_equipment_index_path, class: "dropdown-item" %>
      <% end %>

      <% if current_pilot.can?(Fleet, :create, :update, :destroy) %>
        <%= link_to 'Fleets', admin_fleets_path, class: "dropdown-item" %>
      <% end %>

      <% if current_pilot.can?(Flight, :create, :update, :destroy) %>
        <%= link_to 'Flight Schedule', admin_flights_path, class: "dropdown-item" %>
      <% end %>
    </div>
  </li>
<% end %>