<%= form_for(@contact, url: contact_path) do |f| %>
  <div class="row">
    <div class="col">
      <%= f.label "First Name" %>
      <%= f.text_field :first_name, class: "form-control", autofocus: true, required: true %>

      <div class="invalid-feedback">
        First name <%= @contact.errors[:first_name].join(", ") %>
      </div>
    </div>
    <div class="col">
      <%= f.label "Last Name" %>
      <%= f.text_field :last_name, class: "form-control", required: true %>

      <div class="invalid-feedback">
        Last name <%= @contact.errors[:last_name].join(", ") %>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", autocomplete: "email", required: true %>

      <div class="invalid-feedback">
        Email <%= @contact.errors[:email].join(", ") %>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col">
      <%= f.label :message %>
      <%= f.text_area :message, class: "form-control", rows: 7, required: true %>

      <div class="invalid-feedback">
        Message <%= @contact.errors[:message].join(", ") %>
      </div>
    </div>
  </div>

  <%- if GoogleRecaptcha.enabled? %>
    <div class="row mt-2">
      <div class="col">
        <%= recaptcha_v3(action: 'contact', site_key: GoogleRecaptcha::SITE_KEY, turbolinks: true) %>

        <small class="text-muted">
          This site is protected by reCAPTCHA and the Google
          <a href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </small>

        <%- unless @contact.errors[:recaptcha].empty? %>
          <div class="small text-danger">
            <%= @contact.errors[:recaptcha].join(", ") %>
          </div>
        <%- end %>
      </div>
    </div>
  <%- end %>

  <%= f.submit "Send", class: "btn btn-success mt-2 w-100" %>
<% end %>
