<%= content_for :section, 'PIREP' %>

<div class="container pt-2 pb-4">

  <div class="col-lg-12">
    <div class="card card-shadow">
      <div class="card-header d-flex h5">
        <div class="col mt-2">
          <%= @pirep %>
        </div>
        <div class="col ml-auto text-right">
          <% if @pirep.status.editable? && @pirep.pilot == current_pilot %>
            <%= link_to edit_pirep_path(@pirep), class: "btn btn-primary" do %>
              <i class="fas fa-edit"></i> Edit
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="card-body p-1 ml-3 mr-3 mt-3">
        <table class="table table-bordered">
          <tr>
            <th scope="col" class="col-2 text-right">Pilot</th>
            <td>
              <%= @pirep.pilot %> -
              <%= link_to "Logbook", pilot_logbook_path(@pirep.pilot) %>
            </td>
          </tr>
          <tr>
            <th scope="col" class="col-2 text-right">Status</th>
            <td bgcolor="<%= @pirep.status.color %>">
              <%= @pirep.status %>
            </td>
          </tr>
          <tr>
            <th scope="col" class="col-2 text-right">Created</th>
            <td>
              <%= @pirep.created_at.strftime("%m-%d-%Y %H:%M %Z") %>
            </td>
          </tr>
          <tr>
            <th scope="col" class="col-2 text-right">Flight Date</th>
            <td>
              <%= @pirep.date.strftime("%m-%d-%Y") %>
            </td>
          </tr>
          <tr>
            <th scope="col" class="col-2 text-right">Airline</th>
            <td>
              <%= @pirep.airline.name %>
            </td>
          </tr>
          <tr>
            <th scope="col" class="col-2 text-right">Equipment Type</th>
            <td data-toggle="tooltip" data-placement="bottom" title="<%= @pirep.equipment.name %>">
              <%= @pirep.equipment.short_name %>
            </td>
          </tr>
          <tr>
            <th scope="col" class="col-2 text-right">Origin</th>
            <td data-toggle="tooltip" data-placement="bottom" title="<%= @pirep.orig.name %>">
              <%= @pirep.orig %>
            </td>
          </tr>
          <tr>
            <th scope="col" class="col-2 text-right">Route</th>
            <td>
              <%= @pirep.route %>
            </td>
          </tr>
          <tr>
            <th scope="col" class="col-2 text-right">Destination</th>
            <td data-toggle="tooltip" data-placement="bottom" title="<%= @pirep.dest.name %>">
              <%= @pirep.dest %>
            </td>
          </tr>
          <tr>
            <th scope="col" class="col-2 text-right">Simulator</th>
            <td>
              <%= @pirep.simulator.name %>
            </td>
          </tr>
          <tr>
            <th scope="col" class="col-2 text-right">Network</th>
            <td>
              <% if @pirep.network.present? %>
                <%= @pirep.network.name %>
              <% else %>
                Offline
              <% end %>
            </td>
          </tr>
          <tr>
            <th scope="col" class="col-2 text-right">Distance</th>
            <td>
              <%= @pirep.distance %> nm
            </td>
          </tr>
          <tr>
            <th scope="col" class="col-2 text-right">Logged Time</th>
            <td>
              <%= '%.1f' % @pirep.duration %> hours
            </td>
          </tr>
          <tr>
            <th scope="col" class="col-2 text-right">Comments</th>
            <td>
              <%- @pirep.comments.each do |comment| %>
                <p><b><%= comment.author %> at <%= comment.created_at.strftime("%m-%d-%Y %H:%M %Z") %>:</b>
                  <p><%= comment.body %></p>
                </p>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
