.card.flex-row.flex-wrap.mt-4.fleet-card
  .card-header.border-0.fleet-img-holder
    %span.fleet-img-helper
    - if fleet.image.attached?
      = image_tag fleet.image.variant(resize_to_limit: [170, 260])
    - else
      - if fleet.airline.logo.attached?
        = image_tag fleet.airline.logo.variant(resize_to_limit: [170, 260])
      - else
        %span.h6= fleet.airline.name
          
  .card-block.px-2.p-4.col-lg-8.col-md-12
    %h4.card-title= fleet.equipment.name
    %p.card-text.small= fleet.equipment.description

  - if pilot_signed_in?
    .card-footer.w-100
      .d-flex
        .mr-auto.my-auto= fleet.equipment.short_name

        - unless fleet.repaints.empty?
          = form_tag fleet_download_path, remote: true do
            .form-inline
              = select_tag 'repaint_id', options_from_collection_for_select(fleet.repaints, 'id', 'name'), class: 'form-control form-control-sm'

              = button_tag type: :submit, class: 'btn btn-outline-secondary btn-sm ml-2' do
                %i.fas.fa-download
                Download
