<div class="card flex-row flex-wrap mt-4" class="fleet-card">
  <div class="card-header border-0 fleet-img-holder">
    <span class="fleet-img-helper"></span>
    <%- if fleet.image.attached? %>
      <%= image_tag fleet.image.variant(resize_to_limit: [170, 260]) %>
    <% else %>
      <%- if fleet.airline.logo.attached? %>
        <%= image_tag fleet.airline.logo.variant(resize_to_limit: [170, 260]) %>
      <%- else %>
        <span class="h6"><%= fleet.airline.name %></span>
      <%- end %>
    <%- end %>
  </div>
  <div class="card-block px-2 p-4 col-lg-8 col-md-12">
    <h4 class="card-title"><%= fleet.equipment.name %></h4>
    <p class="card-text small">
      <%= fleet.equipment.description %>
    </p>
  </div>
  <div class="w-100"></div>
  <%- if pilot_signed_in? %>
  <div class="card-footer w-100">
    <div class="d-flex">
      <div class="mr-auto my-auto">
        <%= fleet.equipment.short_name %>
      </div>

      <%- fleet.repaints.each do |repaint| %>
        <%- if repaint.file.attached? %>
          <span class="ml-2">
          <%= link_to rails_blob_path(repaint.file, disposition: "attachment"), class: "btn btn-outline-secondary" do %>
            <i class="fas fa-download"></i> <%= repaint.name %>
          <% end %>
          </span>
        <%- end %>
      <%- end %>
    </div>
  </div>
  <%- end %>
</div>
