<title>Lonestar Cargo</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= favicon_link_tag asset_path('favicon.png') %>
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<%- if GoogleAnalytics.enabled? %>
  <%= javascript_include_tag GoogleAnalytics::JS_URL, async: true %>
  <%= javascript_include_tag 'google_analytics', 'data-turbolinks-track': 'reload' %>
<% end %>
