<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/head' %>
  </head>

  <body>
    <header>
      <%= render partial: 'layouts/menu' %>
    </header>

    <main role="main" id="content">
      <%= render partial: "layouts/alerts" %>

      <% if content_for? :section %>
        <section class="pt-3 pb-3 mb-3 bg-dark text-light">
          <div class="pl-4">
            <h3><%= yield :section %></h3>
          </div>
        </section>
      <% end %>

      <%= yield %>
    </main>

    <%= render partial: 'layouts/footer' %>
  </body>
</html>
