<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/head' %>
  </head>

  <body>
    <header>
      <%= render partial: 'layouts/menu' %>
    </header>

    <main role="main" id="content">
      <%= render partial: "layouts/alerts" %>
      <%= yield %>
    </main>

    <%= render partial: 'layouts/footer' %>
  </body>
</html>
