<%= content_for :section, 'Fleet Administration' %>

<div class="container pt-2 pb-4">

  <div class="col-lg-12">
    <div class="card card-shadow">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <div class="pt-2">
            <h5>Fleets</h5>
          </div>
          <div class="text-right pt-1">
            <%= search_form_for @q, url: admin_fleets_path, class: 'form-inline' do |f| %>
              <%= f.label :airline, 'Airline', class: 'form-inline' %>
              <%= f.collection_select :airline_id_eq, Airline.all, :id, :name, {}, class: 'form-control form-control-sm form-inline ml-2' %>

              <%= f.label :icao, class: 'form-inline text-uppercase ml-2' %>
              <%= f.search_field :equipment_icao_cont, class: 'form-control form-control-sm form-inline text-uppercase ml-2', maxlength: 4 %>
              <%= f.submit class: 'btn btn-sm btn-primary ml-2' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card-body p-0">
        <table class="table table-bordered p-0 mb-0">
          <thead class="thead-dark">
            <th scop="col">
              Image
            </th>
            <th scope="col">
              <%= sort_link(@q, :airline_name) %>
            </th>
            <th scope="col">
              <%= sort_link(@q, :equipment_short_name, 'Short Name') %>
            </th>
            <th scope="col" class="text-uppercase">
              <%= sort_link(@q, :equipment_icao, 'ICAO') %>
            </th>
            <th scope="col"><%= sort_link(@q, :equipment_name, 'Name') %></th>
            <th scope="col" class="text-center">
              <%= link_to new_admin_fleet_path, class: 'btn btn-sm btn-success' do %>
                <i class="fas fa-plus"></i> Add
              <% end %>
            </th>
          </thead>
          <tbody>
          <% if @fleets.empty? %>
            <tr>
              <td colspan="20" class="text-muted text-center">None</td>
            </tr>
          <% end %>

          <% @fleets.each do |fleet| %>
            <tr>
              <th scope="row" width="160" class="text-center align-middle">
                <%= image_tag fleet.image.variant(resize_to_limit: [150, 25]) if fleet.image.attached? %>
              </th>
              <td class="align-middle"><%= fleet.airline.name %></td>
              <td class="align-middle"><%= fleet.equipment.short_name %></td>
              <td class="align-middle"><%= fleet.equipment.icao %></td>
              <td class="align-middle"><%= fleet.equipment.name %></td>
              <td class="text-center align-middle">
                <% if policy(fleet).edit? || policy(fleet).destroy? %>
                  <%= link_to edit_admin_fleet_path(fleet), class: 'btn btn-sm btn-outline-secondary' do %>
                    <i class="fas fa-edit"></i> Edit
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <div class="row justify-content-center mt-3">
          <%= paginate @fleets, theme: 'twitter-bootstrap-4' %>
        </div>
      </div>
    </div>
  </div>
</div>
